<footer class="relative px-4 pt-4 pb-4">

  <!-- divider -->
  <div class="relative my-8">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center ">
      <span class="bg-white px-2 text-gray-200">
        <i class="text-xs far fa-square"></i>
      </span>
    </div>
  </div>

  <!-- footer msg -->
  <div class="flex flex-wrap items-left justify-left">
    <div class="text-sm text-gray-500">

      <section class="flex flex-wrap items-left justify-left py-2">
        <h3> Phone </h3>
        <a href="{{site.phone}}" class="!no-underline">
          <p>: {{site.phoneNumber}}</p>
        </a>
      </section>
      <section class="flex flex-wrap items-left justify-left py-2">
        <h3> Email </h3>
        <a href="{{site.email}}" class="!no-underline">
          <p>: {{site.email}}</p>
        </a>
      </section>
      <section class="flex flex-wrap items-left justify-left py-2">
        <h3 class="py-2 mr-2">Social Media</h3>
        {% if site.github %}
        <a href="{{site.github}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-github"></i>
          </button>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a href="{{site.linkedin}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
        {% endif %}
      </section>

      <section class=" justify-center">
        © <span id="get-current-year"></span>
        {% if site.footer-msg %}
        <a href="{{site.footer-msg-link}}" class="!no-underline">{{site.footer-msg}} </a>
        {% endif %}
      </section>
    </div>
  </div>
</footer>